.grid {
    display: grid;
    grid-template-columns: 4fr 9fr;
    padding: 3px;
    align-items: flex-start;
    margin: 5px;
}

.label {
    padding-right: 10px;
    font-weight: bold;
    text-align: center;
}

.textField {
    margin: 3px
}
.header {
    margin: 10px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.btnPanel {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-gap: 100px;
    padding: 10px 20px 0px 20px ;
    margin: 20px 20px 10px 20px;
    align-items: flex-start;
}
.dialogTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.innerFieldsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between
}
.grid button {
    margin: 10px;
}

.field {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkbox {
    margin-left: -1px; /*Выравнивание относительно других полей. Невидивая область вокруг чекбокса = 12px с каждой стороны*/
}

.error {
    font-size: 16px;
    color: red;
    margin-bottom: 0
}