.grid {
    display: grid;
    grid-template-columns: 4fr 1fr 9fr;
    padding: 3px;
    margin: 5px;
    align-items: flex-start;
}
.gridTitle {
    display: grid;
    grid-template-columns: 5fr 3fr;
    padding: 3px;
    margin: 5px;
    align-items: flex-start;
}

.grid label {
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-align: center;
}
.label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
}

.textField {
    margin: 3px
}

.dialogTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnPanel {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-gap: 100px;
    padding: 10px 20px 0px 20px ;
    margin: 20px 20px 10px 20px;
    align-items: flex-start;
}
.select {
    display: flex;
    justify-content: center ;
    align-items: center;
}
.field {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.p{
    
    font-size: 20px;
    color: red
}
.error {
    font-size: 16px;
    color: red;
    margin-bottom: 0
}